<?xml version="1.0"?>
<launch>

  <node name="raw_image_pub" pkg="ids_multi_cam" type="ids_multi_cam_node" output="screen" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ids_multi_cam)/config/rviz.rviz" />
  
  
  <!-- right camera rectification -->
  <group ns = "right_cam"> 
    <rosparam file="$(find ids_multi_cam)/config/right_cam_info.yaml" />
    <node name="distortion_correction" pkg="image_proc" type="image_proc" output="screen">
        <param name="queue_size" value="100" />
    </node>
    <!-- Include another launch file -->
    <!-- <include file="$(find ids_multi_cam)/launch/distortion_correction.launch" /> -->
  </group>

  <!-- left camera rectification -->
  <group ns = "left_cam"> 
    <rosparam file="$(find ids_multi_cam)/config/left_cam_info.yaml" />
    <node name="distortion_correction" pkg="image_proc" type="image_proc" output="screen">
        <param name="queue_size" value="100" />
    </node>
    <!-- Include another launch file -->
    <!-- <include file="$(find ids_multi_cam)/launch/distortion_correction.launch" /> -->
  </group>

</launch>